<h1>SongPro Tools</h1>

<p class="lead">A growing collection of apps and tools that support or enhance the SongPro format</p>

<h2>Apps &amp; Tools</h2>

<ul>
  <li><a href="https://www.everchords.app">Everchords</a> - Webapp connecting to Evernote to beautifully display Songs in SongPro format</li>
  <li><a href="http://lyricconverter.net">Lyric Converter</a> - The universal translator & converter for song presentation files!</li>
</ul>

<h2>Related Tools</h2>

<p>Some tools for use with SongPro:</p>

<ul>
  <li><a href="https://github.com/spilth/chord_diagrams">Chord Diagrams Ruby Gem</a> - Provides chord diagrams as SVGs</li>
</ul>
