<h1>SongPro Libraries</h1>

<p class="lead">A collection of SongPro libraries for developer use</p>

<p>Code libraries for SongPro support are available in the following languages:</p>

<ul>
  <li><a href="https://github.com/SongProOrg/songpro-ruby">SongPro Ruby</a></li>
  <li><a href="https://github.com/SongProOrg/songpro-javascript">SongPro Javascript</a></li>
  <li><a href="https://github.com/SongProOrg/songpro-swift">SongPro Swift</a></li>
  <li><a href="https://github.com/SongProOrg/songpro-crystal">SongPro Crystal</a></li>
  <li><a href="https://github.com/SongProOrg/songpro-java">SongPro Java</a></li>
</ul>
