<h1>SongPro</h1>

<p class="lead">SongPro is a text file format for making chord & lyric lead sheets for songs.</p>

<h2>Example</h2>

<p>Here’s a partial example of a song in the SongPro format:</p>

<pre class="border p-2"><code><%= @content %></code></pre>

<p>When converted into HTML it can look like this:</p>

<div class="w-auto border p-2 overflow-scroll mb-4">
  <%= render partial: "songs/song", locals: { song: @song } %>
</div>

<p>For more information take a look at <a href="/format/">the SongPro format</a> and <a href="/tools/">tools that use SongPro</a>. If you're a developer checkout the available <a href="/libraries/">SongPro libraries</a>.</p>