<p style="color: green"><%= notice %></p>

<%= render partial: "song", locals: { song: @song_pro } %>

<div>
  <%= link_to "Edit Song", edit_song_path(@song), class: "btn btn-warning" %>
  <%= button_to "Delete Song", @song, method: :delete, class: "btn btn-danger" %>
</div>
